* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f4f4f4;
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
    color: white;
}

li {
    list-style: none;
}

.container {

    display: grid;
    grid-template-columns: 1fr 8fr;
    height: 100vh;
}

.side-nav {

    height: 100%;
    background-color: #2d334a;
    text-align: center;
}

.side-nav li {

    padding: 20px;
    color: white;
}

.content-box {
    text-align: center;

}

.top-nav {
    display: flex;
    justify-content: space-evenly;
    background-color: #2d334a;
}

.top-nav li {
    padding: 25px;
}

/*form styles*/



.error-msg {
    display: block;
    color: red;
}

.form-field-box {
    margin:25px;
}

.form-wrapper {
    text-align: center;
    height: auto;
    
    
}

.form-container {
    background-color:white ;
    display: inline-block;
    position: relative;
    top: 50px;
    width: 30%;
    
}

.form-title {
    
    color: white;
    padding: 2em;
}

.form-container div a {
    display: block;
    color: teal;
    margin: 2em;
    font-size: small;
}

.form-header {
    background-color: #2d334a
}

.form-field-label {
    color: black;
    font-size: x-large;
    margin: 0.5em;

}

input{
    width: 75%;
    height: 3em;
}

.form-submit {
    background-color:#2d334a;
    color: white;
    font-size: x-large;
}

.form-field-error {
    margin: 0.5em;
}


