<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    

</head>

<body>
    <div class="container">
        <nav>
            <div class="side-nav">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="{{url_for('fridge_freezer_temps')}}">Fridge Temps</a></li>
                    <li><a href="#"> Hot Holding</a></li>
                    <li><a href="#">>Cooking Temps</a></li>
                    <li><a href="#">Delivery Temps</a></li>
                    <li><a href="#">Cleanin</a></li>
                    <li><a href="#">Menu</a></li>
                    <li><a href="#">Wastage</a></li>
                    <li><a href="#">Opening Checks</a></li>
                    <li><a href="#">Closing Checks</a></li>
                    <li><a href="#">End of Day </a></li>
                    <li><a href="#">Audits</a></li>
                </ul>
            </div>
        </nav>

        <div class="content-box">
            <div>
                <ul class="top-nav">
                    <li>
                        <h2><a href="#">Company Name</a></h2>
                    </li>
                    <li><a href="#">Account</a></li>
                    <li><a href="#">Settings Logo</a></li>
                    <li><a href="{{url_for('logout')}}">Logout</a></li>
                </ul>

            </div>
            
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for message in messages %}
                            <div>
                                <h3>{{message}}</h3>
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            
            
            <div>
                {% block content %}
                    <!--Dynamic HTML templates go here-->
                {% endblock %}
            

            </div>
   
          
           



        </div>









    </div>

</body>

</html>