<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/01ceb352be.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css')}}">
    
</head>

<body>
    {% block content%}
    
    <div class="form-wrapper">
    <div class="form-container">
        <div class="form-header">
            <h1 class="form-title">Login </h1>
        </div>
            
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            
            <div class="form-field-box">
                {{form.email.label(class="form-field-label")}}
                {% if form.email.errors%}
                    {{form.email(class="form-field-error")}}
                    <div class="error-msg">
                        {% for error in form.email.errors %}
                        <span>{{error}}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{form.email(class="form-field")}}
                {% endif %}
            </div>


            <div class="form-field-box">
                {{form.password.label(class="form-field-label")}}
                {% if form.password.errors%}
                {{form.password(class="form-field-error")}}
                <div class="error-msg">
                    {% for error in form.password.errors %}
                    <span>{{error}}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{form.password(class="form-field")}}
                {% endif %}
            </div>


            <div class="form-field-box">
                
                {{ form.submit(class="form-submit") }}
               
            </div>
            <div>
                    <a href="#">Register</a>
                    <a href="#">Forgot Password?</a>
                    

            </div>
          
        </div>
        </div>
            {% endblock %}
        </body>
        </html>