{% extends "layouts.html" %}

{% block content %}
<div>
    <div class="content-box">
        <div>
            <ul class="top-nav">
                <li><a href="#">audits</a></li>
                <li><a href="#">cleaning</a></li>
                <li><a href="#">closing checks</a></li>
                <li><a href="#"></a>cooking temperatues</li>
                <li><a href="#">cooling records</a></li>
                <li><a href="#">delivery records</a></li>
                <li><a href="#">hot hold records</a></li>
                <li><a href="#">menu records</a></li>
                <li><a href="#">opening checks</a></li>
                <li><a href="#">Unit temp records</a></li>
                <li><a href="#">wastage records</a></li>

            </ul>
        </div>
        {% block recordcontent%}
        <!-- Dynamic user records table goes here! -->


        {% endblock %}



    </div>
 

    {% endblock %}