{% extends "layouts.html" %}

{% block content %}
<div class="form-wrapper">
        <div class="form-container">
            <div class="form-header">
                <h1 class="form-title">Wastage</h1>
            </div>
            <form method="POST" action="">
            {{ form.hidden_tag() }}
            
            <div class="form-field-box">
                {{form.food_item.label(class="form-field-label")}}
                {% if form.food_item.errors %}
                    {{form.food_item(class="form-field-error")}}
                    <div class="error-msg">
                        {% for error in form.food_item.errors %}
                            <span>{{error}}</span>
                    {% endfor %}
                    </div>
                {% else %}
                    {{form.food_item(class="form-field")}}
                {% endif %}
            </div>
            
            <div class="form-field-box">
                {{form.quanity.label(class="form-field-label")}}
                {% if form.quanity.errors%}
                    {{form.quanity(class="form-field-error")}}
                    <div class="error-msg">
                        {% for error in form.quanity.errors %}
                            <span>{{error}}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                        {{form.quanity(class="form-field")}}
                    {% endif %}
            </div>
        
            <div class="form-field-box">
                {{form.unit.label(class="form-field-label")}}
                {% if form.unit.errors%}
                    {{form.unit(class="form-field-error")}}
                    <div class="error-msg">
                        {% for error in form.unit.errors %}
                            <span>{{error}}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{form.unit(class="form-field")}}
                {% endif %}
            </div>
            
            <div class="form-field-box">
                {{form.reason.label(class="form-field-label")}}
                {% if form.reason.errors%}
                    {{form.reason(class="form-field-error")}}
                        <div class="error-msg">
                        {% for error in form.reason.errors %}
                            <span>{{error}}</span>
                        {% endfor %}
                        </div>
                {% else %}
                    {{form.reason(class="form-field")}}
                {% endif %}
            </div>

            <div class="form-field-box">
                {{form.name.label(class="form-field-label")}}
                {% if form.name.errors%}
                    {{form.name(class="form-field-error")}}
                        <div class="error-msg">
                        {% for error in form.name.errors %}
                            <span>{{error}}</span>
                        {% endfor %}
                        </div>
                    {% else %}
                        {{form.name(class="form-field")}}
                    {% endif %}
                </div>

            <div class="form-field-box">
                {{ form.submit(class="form-submit")}}
            </div>
        </div>
    </div>

{% endblock %}